* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Lato", sans-serif;
}
header {
  width: 100%;
  background-color: #1a94ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 100px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: rgb(88, 88, 88);
}
.clr-text-gray {
  color: rgba(102, 102, 102, 0.85);
}
.header-container,
.header-container .nav .sub-nav,
.header-container .nav {
  display: flex;
  align-items: center;
  font-size: 16.5px;
}

.nav .sub-sub-nav a {
  display: block;
  /* width: 100%; */
  text-align: left;
  background-color: #fff;
  padding: 5px;
  color: #000;
}

.header-container {
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.header-container .logo {
  height: 50px;
  width: 70px;
}
.logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-logo {
  margin-top: 8px;
  width: 84px;
  height: 12px;
}
.header-container .search {
  border-radius: 30px;
  height: 35px;
  width: 33%;
  position: relative;
}
.header-container .search i {
  padding: 7px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.header-container .search-bar {
  border: 1px solid #ccc;
  padding-left: 10px;
  line-height: 30px;
  outline: none;
  width: 100%;
}
.header-container .nav {
  height: 40px;
  text-align: center;
}
.header-container .nav li {
  width: 100px;
  margin: 0 2px;
}
.margin-right-7px {
  width: 80px !important;
}
.header-container .nav a {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 700;
  font-size: 0.8em;
  /* letter-spacing: .02em; */
  line-height: 2.4em;
}
.header-container .nav a:hover,
.header-container .nav .cart:hover,
.more:hover {
  color: rgb(0, 0, 0);
  transition: all 0.2s;
}
.header-container .login {
  border-left: 1px solid #ccc;
  margin-left: 25px;
  width: 185px;
  font-size: 20px;
}
.header-container .cart {
  font-size: 20px;
  border: none;
  background-color: white;
  height: 27px;
  /* margin-left:14px; */
  cursor: pointer;
  position: relative;
  /* transition: 1s; */
}
.header-container .cart .sub-cart {
  display: none;
  /* height: 44px; */
  font-size: 13px;
  width: 277px;
  position: absolute;
  top: 34px;
  right: 0;
  font-family: "Lato", sans-serif;
  border: 1px solid rgba(204, 204, 204, 0.582);
  background-color: rgb(255, 255, 255);
  color: rgba(73, 73, 73, 0.801);
  line-height: 20px;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  padding: 20px 10px;
}
p {
  font-size: 14px;
  font-weight: 600;
}

.header-container .cart:hover .sub-cart {
  display: block;
}
/* slide */
#slideshow {
  padding-top: 86px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.slide-wrapper {
  width: 300%;
  /* -webkit-animation: slide 15s cubic-bezier(0.08, 0.82, 0.17, 1) infinite; */
}
.slide {
  float: left;
  width: 33.333%;
  position: relative;
}
.slide img {
  width: 100%;
}

/* slide */

#container-item {
  flex-wrap: wrap;
}

.blur-ef:hover .img-item-2 {
  opacity: 0.7;
  transition: 0.3s;
}
.ngang-cach {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.ngang-cach b {
  display: block;
  -webkit-box-flex: 1;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}
.ngang-cach span {
  padding: 0 10px;
}
.still-item {
  color: rgb(5, 62, 185);
}
.more {
  font-size: 14px;
  padding-left: 10px;
  color: rgba(102, 102, 102, 0.85);
  cursor: pointer;
}

.btn-see-now {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}
.btn-see-now:hover {
  color: rgba(0, 0, 0, 0.425);
  background-color: #fff;
  transition: 0.3s;
}
.contaner-bg-img {
  display: flex;
}
.bg-img {
  width: 50%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-img-1 {
  background-image: url(https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/255080022_433463824858920_5937964114679499129_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_ohc=JRBzXqJ1Zc0AX81wkvH&tn=weKjgJGqq51AEMWq&_nc_ht=scontent.fsgn2-3.fna&oh=00_AT_-ovRGln-ck5VSAF6toJZ5E-hTf3okzYUmQpAjxECYGA&oe=6258E9E9);
}
.bg-img-2 {
  background-image: url(https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/277254437_519202862951682_6884598663167963571_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=RnXLSqLiTOoAX889nUU&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT-yQpx2fp6y9duL89x1PQhVIwPErpXfMIUzyM3wyd64YA&oe=6259427B);
}

.contaner-email-btn {
  padding: 20px 0;
}
.frame-email {
  border: none;
  border-radius: 30px;
  background-color: #b6b6b6;
  outline: none;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  width: 38%;
  font-size: 15px;
}
.frame-email::placeholder {
  color: white;
}
.btn-register {
  border: none;
  border-radius: 30px;
  background-color: #446084;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
}
.btn-register:hover {
  background: #2f4a6e;
  transition: 0.3s;
}
.service {
  flex: 1;
  padding: 15px;
}
.service-2 {
  border-left: 1px solid rgba(204, 204, 204, 0.3);
  border-right: 1px solid rgba(204, 204, 204, 0.3);
}
.ser-img {
  width: 46px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 0 auto;
}
.service:hover .ser-img {
  background-color: #9b9b9b;
  transition: 0.5s;
}
.service img {
  width: 100%;
  padding: 6px 6px 3px 6px;
}
.service h5 {
  padding: 17px 0 15px;
  font-size: 16px;
}
.service p {
  font-weight: 100;
  line-height: 22px;
  font-size: 15px;
}
.divider {
  height: 3px;
  background-color: #b6b6b6;
  margin: 9px 128px;
  opacity: 0.5;
}
.content-wrapper h4 {
  color: #555555;
  opacity: 0.9;
  padding-top: 15px;
}
.content-wrapper p {
  /* opacity: .7; */
  color: rgb(141, 141, 141);
  font-weight: 600;
  font-size: 13px;
}
.content-wrapper .box-item-2 {
  position: relative;
}
.content-wrapper .box-date {
  height: 34px;
  /* width: 45px; */
  color: #446084;
  border: 2px solid currentColor;
  line-height: 15px;
  font-weight: 600;
  padding: 8px 8px 0px;
  box-sizing: content-box;
  position: absolute;
  background-color: #fff;
  top: 7%;
  left: 4%;
}
.content-wrapper .box-date span {
  font-size: 12px;
}
.content-wrapper .box-item-2:hover .box-date {
  background: #446084;
  color: #fff;
  border-color: #446084;
  transition: 0.3s;
}
.content-wrapper .box-item-2:hover p {
  color: #555555;
  transition: 0.3s;
}
/* footer */
footer {
  background: #777777;
  padding: 10px 0 33px;
}
footer p,
footer span {
  color: #e4e4e4;
}
footer span {
  font-size: 17px;
  font-weight: 600;
}
footer p {
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
}
.divider-2 {
  height: 4px;
  background-color: #b6b6b6;
  margin: 11px 0 16px;
  opacity: 0.5;
  width: 32px;
}
.icon-footer {
  margin-top: 22px;
}
.icon-footer a {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #b6b6b6;
  height: 32px;
  width: 32px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 6px 0px 7px 0px;
  margin-bottom: 5px;
}
.icon-footer .icon-1:hover {
  background-color: #3a589d;
  border-color: #3a589d;
}
.icon-footer .icon-2:hover {
  background-color: #2478ba;
  border-color: #2478ba;
}
.icon-footer .icon-3:hover {
  background-color: #000;
  border-color: #000;
}
.icon-footer .icon-4:hover {
  background-color: #cb2320;
  border-color: #cb2320;
}
footer .box-date {
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #d8d8d8;
  color: #d8d8d8;
  font-weight: 600;
  padding: 5px;
  line-height: 12px;
  text-align: center;
  height: 39px;
}
footer .box-date span {
  font-size: 12px;
  color: #d8d8d8;
}
footer a {
  color: #e4e4e4;
}
/* footer .box-item-3 {
    padding: 0 15px;
} */
footer .sub-container-1 a:hover {
  color: #f5f5f5;
}
footer .sub-container-1-2 {
  display: flex;
  padding: 10px 0 15px;
}
.border-footer {
  border-top: 1px solid #b6b6b65e;
}
/* tag */
/* .tags .tags-1 {
    margin-bottom: 15px;
} */
.tags .tags-1 a {
  border: 1px solid #b6b6b6;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 5px;
}
.tags .tags-1 a:hover {
  background-color: #446084;
  border-color: #446084;
  color: #fff;
  transition: 0.3s;
}
/* input */
footer .email {
  outline: none;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #a0a0a0;
  width: 100%;
  margin: 15px 0;
  color: #fff;
}
footer .email::placeholder {
  color: #ffffff;
  font-size: 15px;
}
footer .btn-dk {
  border-radius: 30px;
  border: none;
  padding: 10px;
  width: 111px;
  font-weight: bolder;
  background-color: #446084;
  color: #fff;
  font-size: 15px;
}
footer .btn-dk:hover {
  background-color: #395170;
}
.footer-2 {
  background-color: #5b5b5b;
  position: relative;
  height: 75px;
}
.footer-2 p {
  color: #949494;
  /* padding: 10px; */
  position: absolute;
  left: 10%;
  top: 10%;
}
.cash {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 38px;
  right: 10%;
  top: 22%;
}
.cash i {
  width: 40px;
}
.cash i:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}
.btn-lien-he {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border: 5px solid #8071b3;
  border-radius: 50%;
  padding: 8px;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  color: #8071b3;
  font-size: x-large;
  cursor: pointer;
}
/*  */
.in-bl {
  display: inline-block;
}
.bl {
  display: block;
}
.mg-auto {
  margin: 0 auto;
}
.t-al {
  text-align: center;
}
.bold {
  font-weight: bold;
  font-size: 20px;
}
.tx-14 {
  font-size: 14px;
  line-height: 20px;
}
.tx-16 {
  font-size: 16px;
}
.bold {
  font-size: 52px;
}
p {
  font-size: 14px;
  font-weight: 600;
}
.pdg-flex {
  display: flex;
  text-align: center;
  margin: 30px 124px 0 124px;
}
.pdg-flex-2 {
  display: flex;
  /* text-align: center; */
  margin: 30px 124px 0 124px;
}
.pdg-2 {
  padding: 10px 10px 20px;
}
.pdg-3 {
  padding: 150px 0;
}
.pdg-min {
  padding: 5px;
}
.pdg-min p:first-child {
  color: red;
  font-size: 18px;
}
.pdg-btm-40px {
  padding-bottom: 40px;
}
.content {
  color: rgb(88, 88, 88);
}
.box-item {
  width: 25%;
  /* flex: 1; */
  padding: 0 15px 30px;
}
.box-item-2 {
  width: 25%;
  /* flex: 1; */
  padding: 0 15px 30px;
}
.box-item-3 {
  flex: 1;
  padding: 0 15px 30px;
}
.img-item {
  width: 65%;
}
.img-item-2 {
  width: 100%;
}

.login-color {
  color: rgb(0, 0, 0) !important;
}
.login-color-dk {
  color: rgb(255, 255, 255) !important;
}
.login-color-dk:hover {
  color: rgb(1, 1, 1) !important;
}
.login-color:hover {
  color: rgb(91, 83, 83) !important;
}

/* sá»­a user.js */
.img-zoom-box {
  margin-bottom: 10px;
}
.text-heading {
  font-size: 20px;
  font-weight: 700;
}
.pdg-2 p {
  margin-top: 20px;
}
